@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");

.product-card {
  width: 220px;
  cursor: pointer;
}

.product-card__image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.product-card__title {
  font-family: "Amarante", serif;
  margin-top: 12px;
  color: rgba(229, 231, 229, 0.7);
}

.product-card__price {
  margin-top: 8px;
  color: rgba(229, 231, 229, 0.7);
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 160px;
  }

  .product-card__image {
    width: 160px;
    height: 160px;

    object-fit: cover;
  }
}
