@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=My+Soul&display=swap");

.product-card {
  width: 240px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.product-card__image {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.product-card__info {
  display: flex;
  justify-content: space-around;
  font-family: "Unica One", sans-serif;
  align-items: center;
  color: rgba(229, 231, 229, 0.7);
  margin-top: 12px;
}

.product-card__price {
  font-size: 20px;
  font-family: "My Soul", cursive;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 160px;
  }

  .product-card__image {
    width: 160px;
    height: 160px;

    object-fit: cover;
  }
}
