.home {
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* .home__title {
  font-size: 5rem;
  letter-spacing: 12px;
  margin: 0;
} */

.home__title {
  font-size: clamp(2rem, 8vw, 5rem);
  letter-spacing: clamp(2px, 1vw, 12px);
  line-height: 1;
}

.home__subtitle {
  margin-top: 54px;
  font-size: 1.2rem;
  letter-spacing: 8px;
}

.home__nav {
  margin-top: 50px;

  display: flex;
  gap: 12px;

  font-size: 1rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 2rem;
    letter-spacing: 6px;
  }

  .home__subtitle {
    font-size: 1rem;
    letter-spacing: 4px;
    margin-top: 20px;
  }

  .home__nav {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
