.footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  padding-bottom: 20px;

  color: #313131;
  text-align: center;
}

.footer__text {
  white-space: nowrap;
  font-size: 12px;
}
